/* Your styles here */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 1.5rem;
}
body {
  width: 100%;
  font-family: "Open Sans";
  color: rgb(83, 83, 83);
  text-align: center;
  line-height: 1.65;
  margin: 0px !important;
}

header {
  width: 100%;
  padding: 55px;
  margin-top: auto;
  background-color: black;
  text-align: center;
}

.box h1 {
  color: #25a2c3;
  font-size: 3rem;
}

section .box {
  background-image: url(../images/banner.jpg);
  padding: 200px;
  background-position: top;
  background-size: cover;
  background-position: top center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
}

.contenuto {
  padding: 4rem;
}

.contenuto h4 {
  padding-bottom: 1.5rem;
}

.banner {
  width: 100%;
  border-width: 50%;
}

button {
  border-radius: 9px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-style: none;
  font-family: "Montserrat";
  background-color: #f04c2f;
  color: white;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
section h4 {
  color: #25a2c3;
  line-height: 1.5;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 5px;
}

.box-rosso h2 {
  font-size: 3rem !important;
}
.box-rosso h3 {
  font-size: 2rem;
}

.box-rosso h6 {
  font-size: 1.2rem;
}

.box-rosso p,
h2 {
  padding-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.box-rosso {
  background-color: red;
  /* margin-left: -25px;
  margin-right: -25px;*/
  text-align: center;
  color: white;
  height: 600px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}
span img {
  width: 50%;
  border-radius: 50%;
}

i {
  margin-right: 0.5rem;
}

.layout {
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.layout img {
  width: 100%;
}

h1 {
  color: white;
}
h4 {
  color: #25a2c3;
}

.descrizione {
  padding: 3rem;
}

footer .box-blu {
  background-color: #25a2c3;
  height: 30rem;
  padding: 3rem;
  color: white;
}

.box-blu h1 {
  font-size: 3rem;
}

#address {
  margin-bottom: 3rem;
}

#address a {
  text-decoration: none;
  margin-bottom: 2rem;
}

.box-blu hr {
  width: 15rem;
}

.box-blu a {
  color: white !important;
}
#copyright {
  margin-top: 3rem;
}
