/* Your styles here */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Open Sans";
  color: rgb(83, 83, 83);
  text-align: center;
  line-height: 1.65;
}

header {
  width: 100%;
  padding: 55px;
  margin-top: auto;
  background-color: black;
  text-align: center;
}
section .box {
  background-image: url(../images/banner.jpg);
  padding: 200px;
  background-position: top;
  background-size: cover;
  background-position: top center;
}

.banner {
  width: 100%;
  border-width: 50%;
}

button {
  border-radius: 2px;
  font-size: 1rem;
  padding: 0.5rem;
  border-style: none;
  background-color: #f04c2f;
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 25px;
}
section h4 {
  font-family: "Montserrat" sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  font-weight: 800;
  padding-bottom: 5px;
  padding-top: 5px;
}
.box-rosso {
  background-color: red;
  margin-left: -25px;
  margin-right: -25px;
  color: white;
  height: 600px;
  width: 1000px;
}
span img {
  width: 50%;
  border-radius: 50%;
}
section div p {
  font-size: 1.2rem;
}
h1 {
  font-family: "Montserrat";
  color: #25a2c3;
}
h4 {
  color: #25a2c3;
}

footer .box-blu {
  background-color: #25a2c3;
}
